<%- include('partials/head'); %>
    <%- include('partials/navbar'); %>

    <div class="container p-5">
        <h2><%= teamInfo.title %></h2>

        <!-- Team Members Grid -->
        <div class="team-grid">
            <% teamInfo.teamMembers.forEach(member => { %>
                <div class="team-member">
                    <img src="<%= member.img %>" alt="<%= member.name %>" class="member-img">
                    <h4><%= member.name %></h4>
                    <p><%= member.dig %></p>
                    <div class="social-links">
                        <% member.social.forEach(link => { %>
                            <a href="<%= link.link %>" target="_blank" class="social-icon <%= link.icon %>">
                                <i class="bi bi-<%= link.icon %>"></i>
                            </a>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        </div>

        <h2><%= teamInfo.title2 %></h2>

        <!-- Advisory Board Grid -->
        <div class="advisory-grid">
            <% teamInfo.advisoryBoard.forEach(advisor => { %>
                <div class="advisor">
                    <img src="<%= advisor.img %>" alt="<%= advisor.name %>" class="advisor-img">
                    <h4><%= advisor.name %></h4>
                    <p><%= advisor.company %></p>
                    <div class="social-links">
                        <% advisor.social.forEach(link => { %>
                            <a href="<%= link.link %>" target="_blank" class="social-icon <%= link.icon %>">
                                <i class="bi bi-<%= link.icon %>"></i>
                            </a>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<%- include('partials/footer'); %>
